{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<nav class="navbar navbar-light-fluid" style="background-color: #e3f2fd;">
		<div class="container-fluid">
		    <a class="navbar-brand" href="{% url 'home' %}">A->Z Price tracker</a>
		</div>
	</nav>
	<div class="modal-body">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary mt-2">Add</button>
        </form>
    </div>
    <p> {{error}}</p>
     <div class="row">
        <div class="col">
            <a href="{% url 'update' %}">
                <button class="btn btn-info">Update</button>
            </a>
        </div>
        <div class="col" style="text-align:right">
            <div>Total number of items being tracked: {{items_no}}</div>
            <div>Discounted items: {{no_discounted}}</div>
        </div>
    </div>
    {% if items_no != 0 %}
    	{% for item in qs %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5>{{item.name}}</h5>
                    <a href="{% url 'delete' item.pk %}"><button class="btn btn-danger">delete?</button></a>
                </div>
                <div class="container card-body">
				    <div class="row blockquote">
				        <div class="col">
				        	<p>current price (₹) {{item.current_price}}</p>
	                        <p>old price (₹) {{item.old_price}}</p>
	                        {% if item.price_difference > 0 %}
	                        	<p style="color:red;">difference (₹) {{item.price_difference}}</p>
	                        {% elif item.price_difference < 0 %}
	                        	<p style="color:green;">difference (₹) {{item.price_difference}}</p>
	                        {% else %}
	                        	<p style="color:blue;">difference (₹) {{item.price_difference}}</p>
	                        {% endif %}
	                        <p>link: <a href="{{item.url}}">{{item.url}}</a></p>
	                    </div>
				    	<div class="col col-lg-3">
				    		<img src="{{item.img_url}}" alt="Product Image" width="200" height="200">
				    	</div>
				    </div>
            	</div>
            </div>
        {% endfor %}
    {% else %}
    	<h1>No items are being tracked the moment.</h1>
    {% endif %}
{% endblock %}